.wraper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}
.wraper > div {
    background: #840c0c;
    padding: 1em;
    height: 200px;
  }
.wraper > div:nth-child(odd) {
    background: #840c0c;
    height: 200px;
    margin-bottom: 200px;
}
.animated-container{
  justify-content: center;
  margin-top: 25px; 
}
  @media screen and (max-width: 768px) {
    .wraper{
        display: grid;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns:none;
    }
    .wraper > div {
      height: 150px;
      margin-bottom: 0px;
    }
  .wraper > div:nth-child(odd) {
      height: 150px;
      margin-bottom: 0px;
  }
  }