.cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 200px;
  margin: 100px;
  margin-bottom: 0px;
  grid-gap: 10px;
}
.cont > div {
  background-color: #840c0c;
  padding: 1em;
  height: 200px;
  border: burlywood;
  border-radius: 250px;
  box-shadow: 10px 10px 5px grey;
}
.cont > div:nth-child(odd) {
  background-color: #840c0c;
  height: 200px;
  margin-bottom: 200px;
  box-shadow: 10px 10px 5px grey;
}
.cnt {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}
.large-icon{
    font-size: 100px;
    color: brown;
}
.margin {
    margin-top: 21px;
}
.margin-bigger{
    margin-top: 80px;
}
.label-text{
  font-size: 20px;
  color: rgb(7, 63, 63);
}

@media screen and (max-width: 768px) {
  
  .cont {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
    margin: 20px;
    margin-bottom: 100px;
}
  .cont > div {
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .cont > div:nth-child(odd) {
    height: 150px;   
     margin-top: 5px;
     margin-bottom: 10px;
  }
  .cnt{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .large-icon{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .margin{
      margin-top: 0px;
  }
}
